<!DOCTYPE html>
<html>

<head>
    <link href="/css/style.css" rel="stylesheet">
    <title>StratuxHud Config</title>
</head>

<body>
    <img src="/images/logo.png" />
    <table id="menuAndBody" style="width:100%">
        <tr>
            <td style="width: 20%; vertical-align: text-top; text-align: left">
                <br><br><br><br>
                <a href="/">Control</a><br>
                <a href="/config">Settings</a><br>
                <a href="/views">Views</a><br>
                <a href="/view_elements">Elements</a><br>
            </td>
            <td>{{{body}}}</td>
        </tr>
    </table>
</body>

</html>