<h2>VIEW</h2>
<table>
    <tr>
        <td>
            <form name="previousView" action="/view/previous" method="GET">
                <input type="submit" id="previous" value="Previous">
            </form>
        </td>
        <td>
            <form name="nextView" action="/view/next" method="GET">
                <input type="submit" id="next" value="Next">
            </form>
        </td>
    </tr>
</table>
<br>
<p>Page load at {{time}}</p>