/*Techside Example CSS Static file for Express and Handlebars*/
body {
	text-align:center;
}
body img{
	width:50%;
	/*background-color:#ccc;
	box-shadow: 2px 2px 2px #555;*/
}
body h2{
	font-family: Arial, Helvetica, sans-serif, verdana, tahoma;
	text-align:center;
	font-size: 50pt;
	/*
	text-shadow: -2px 2px 0px #666,
                 -4px 4px 0px #ccc,
				 -6px 6px 2px #333;
				 */
}
body p{
	font-family: Arial, Helvetica, sans-serif, verdana, tahoma;
	font-size: 24pt;
}